body {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  background-color: #2e2e2e;
  color: red;
  letter-spacing: 0.15em;
  margin-left: 25%;
  margin-right: 25%;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  color: yellow;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.home {
  width: 20em;
  transition-duration: 0.5s;
}

.home:hover{
  width: 22em;
  transition-duration: 0.5s;
}

.arrow{
  width: 10em;
  transition-duration: 0.5s;
}

.arrow:hover{
  width: 12em;
  transition-duration: 0.5s;
}
